.row
  - elements = [[:name], [:born, :as => :date_picker ], [:died, :as => :date_picker ]]
  - elements << [:avatar, :as => :file_field, :label => "Image"]
  - elements << [:biography, :as => :text]

  = render partial: 'shared/form_no_horizontal', locals: {input_fields: elements,
    hidden_fields: nil, entity: @author}

