%li
  =link_to '/html' do
    %i.icon-bar-chart
    Status
%li
  =link_to do
    %i.icon-cog
    Settings
%li
  =link_to do
    %i.icon-reorder
    Database
%li
  =link_to do
    %i.icon-sitemap
    Security