- elements = [[:name], [:release, :as => :integer], [:kind, :as => :string, :label => 'Genre']]
- elements << [:author_id,:collection => Author.find(:all).collect{|c| [c.name, c.id]}, :prompt => "Select the Author"]
- elements << [:isbn, :as => :integer]
- elements << [:image, :as => :file, :label => "Cover"]
- elements << [:slogan, :label => "Tags", :as => :string]
- elements << [:available, :as => :boolean]

= render partial: 'shared/form', locals: {input_fields: elements,
  hidden_fields: nil, entity: @book}

