- elements = [[:name], [:release, :as => :date], [:kind, :as => :string, :label => 'Tags']]
- elements << [:fullname, :label => "Original Name"]
- elements << [:author_id,:collection => Author.find(:all).collect{|c| [c.name, c.id]}, :prompt => "Select the Author"]
- elements << [:genre_id,:collection => Genre.find(:all).collect{|c| [c.name, c.id]}, :prompt => "Select the Genre"]
- elements << [:isbn, :as => :integer]
- elements << [:image, :as => :file, :label => "Cover"]
- elements << [:slogan, :label => "Genre", :as => :string]
- elements << [:description, :label => "Content"]

- elements << [:available, :as => :boolean]

= render partial: 'shared/form', locals: {input_fields: elements,
  hidden_fields: nil, entity: @book}

