%li
  =link_to :admin_groups_manage do
    %i.icon-cogs
    =t 'menu.admin.users_and_groups.groups.manage_groups'
%li
  =link_to :admin_groups_roles do
    %i.icon-user-md
    =t 'menu.admin.users_and_groups.groups.group_roles'
