// Place all the styles related to the book/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dd_margin: 10px;

dt,dd{
  margin-top: $dd_margin;
  
}
.image-book-cover{
  width: 404px;
  
}
.image-book-cover img{
  max-width: 400px;
  max-height: 500px;
  
}
