/*
 *= require_self
 *= require_tree .
*/
.bit-center{
	margin-left:0!important;
}
.right-align{
	float:right;
}

.left-align{
	float:left;
}

.center{
	text-align:center;
}
.logo{
	width: 320px;
	background: linear-gradient(90deg,rgba(255,255,255,.2) 0%, transparent 50%, rgba(255,255,255,.2) 100%);
	height: 72px!important;
}
.logo img{
	height: 72px!important;
}
.linear-gradient-background{

}
.preview-image{
	width:200px;
}
.list-information{
	position: relative;
}
.bottom-status-line{
	border-top: 1px solid #bbb;
	margin-top:50px;
	height:10px;
}
textarea{
	height:150px!important;
}
.hundret{
	width:100%;
}