/*
 *= require_self
 *= require bootstrap.min.css
 *= require font-awesome.css
 *= require tags.css.scss
 *= require scaffolds.css.scss
 *= require genres.css.scss
 *= require searches.css.scss
 *= require books.css.scss
 *= require author.css.scss
 *= require ./smoothness/jquery-ui-1.9.2.custom.min.css
*/

.bit-center{
	margin-left:0!important;
}
.right-align{
	float:right;
}

.left-align{
	float:left;
}

.center{
	text-align:center;
}
.logo{
	width: 320px;
	background: linear-gradient(90deg,rgba(255,255,255,.2) 0%, transparent 50%, rgba(255,255,255,.2) 100%);
	height: 72px!important;
}
.logo img{
	height: 72px!important;
}
.linear-gradient-background{

}
.preview-image{
	width:200px;
}
.list-information{
	position: relative;
}
.bottom-status-line{
	border-top: 1px solid #bbb;
	margin-top:50px;
	height:10px;
}
textarea{
	height:150px!important;
}
.hundret{
	width:100%;
}
.inline-div{
	display:inline
}
.hidden{
	display: none!important;
}
thead{
	font-weight:bold;
	
}
.new-button{
	margin-bottom: 20px!important;
}
.minor-margin-bottom{
	margin-bottom: 5px;
}
.minor-margin-top{
	margin-top: 5px;
}
.minor-margin-left{
	margin-left: 5px;
}
.minor-margin-right{
	margin-right: 5px;
}
