// Place all the styles related to the Author controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author-image{
	background: linear-gradient(90deg,#fff 0%,transparent 50%, #fff 100%);
	text-align:center;
	height: 300px;
}
.author-image img{
	height: 300px;
}
.low-margin{
	margin-right:20px;
	margin-left:20px!important;
}
.small{
	width:100px;
}
.author-biography{
	max-height: 234px;
	overflow: auto
}
.author-thumb{
	height:100px;
	width:100px;
}
.center-table td{
	text-align:center;
}
.full{
	width:100%;
	height:100%;
}
.clickable{
	cursor: pointer;
}