// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.descriptionfield{
	max-height: 200px;
	overflow: auto;
}

.bookicon{
  color: #333!important;
  margin-top:90px;
  width: 100px;
}
.bookicon:hover{
  color: #555!important;
}

