// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.genre-description{
  width:500px;
  height: 150px;
  overflow: auto;
}
.table-field{
  padding: 15px 20px;
}
