%li
  =link_to :admin_users_manage do
    %i.icon-cogs
    =t 'menu.admin.users_and_groups.users.manage_users'
%li
  =link_to :admin_users_inactive do
    %i.icon-volume-off
    =t 'menu.admin.users_and_groups.users.inactive_users'
%li
  =link_to :admin_users_roles do
    %i.icon-user-md
    =t 'menu.admin.users_and_groups.users.user_roles'
    
%li
  =link_to :admin_users_custom do
    %i.icon-desktop
    =t 'menu.admin.users_and_groups.users.custom_fields'